* {
    margin: 0;
    padding: 0;
}

body {
    background-color: lightgray;

}

.container-left {
    height: 100%;
    float: ;

    padding: 25px 50px 50px 50px;
}

.container-right {

    float: right;
    /* background-color: black; */
    padding: 50px;
    min-height: 100%;
}

 h1{
    font-family: 'Bungee Shade', cursive;
    font-weight: lighter;
    font-size: 40pt;
}

.definition {
    width: 80%;
}

hr {
    border-top: .5pt solid black;
}

p {
    font-family: 'Open Sans', sans-serif;
    position: relative;
    color: black;
    margin-left: 10px;
    margin-top: 5px;
}

input {
    border: none;
    background-color: black;
    height: 1.5em;
    color: white;
}

input:hover {
    box-shadow: none;
}

input:active {
    box-shadow: none;
}

#verb-input {
    /* float:left; */
    width: 300px;
    height: 2em;
    text-align: center;
}

label {
    display: block;
}

::placeholder {
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    display: inline;
}

.searchbutton, 
#add-verb {
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    border: none;
    background-color: black;
    border: solid 2pt black;
    min-width: 30%;
    color: white;
    height: 2em;
    padding: 2.5 10px 10px 10px;
    margin-right: 5px;
    margin-bottom: 5px;
}

#button-farm{
    margin-top: 15px;
}

#add-verb {
    margin-top: 5px;
    min-width: 40%;
}

form {
    max-width: 50%;
}


.searchbutton:focus,
#add-verb:focus {
    border: none;
    box-shadow: none;
    outline: 0;
}

.searchbutton:hover,
#add-verb:hover {
    background-color: rgba(0,0,0,0);
    color: black;
    border: solid 2pt black;
}

#verb-view {
    width: 100%;
}

.image-container {
    float: left;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
    width: 300px;
    height: 300px;
    overflow: hidden;
    box-shadow: black -5px 5px;
}

img {
    width: 100%;
    height: 90%;
}


